# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
target
*.class

*.log
.settings
.project
logs
job

templates

# Local Docker course package and runtime data (contains databases and secrets)
depoly/

# Local service runtime files
.run/
.env
